<mat-card class="widget-card">
  <mat-card-header>
    <mat-card-title>
      {{ title }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="widget-card-content">
    <ng-container *ngIf="items.length > 0; else noData">
      <mat-list role="list">
        <app-widget-content-item *ngFor="let item of items" [item]="item"></app-widget-content-item>
      </mat-list>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #noData>
  <p>No Data Available</p>
</ng-template>
